body {
  background-image: url("../img/spy.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Header */
h1 {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Libre Barcode 39 Text';
  font-size: 60px;
  color: #FFF;
  width: 800px;
  height: 370px;
}

h1 {
    position: absolute;
    left: -1000px;
    height: 200px;
    -webkit-animation: slide 350ms forwards;
    -webkit-animation-delay: 1s;
    animation: slide 350ms forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* Main Logo */
#logo img {
  margin-top: 80px;
  width: 500px;
}
/* End of Main Logo */
/* End Header */

/* Main */
/* About */
#about {
  margin-top: -400px;
  margin-left: 70%;
  width: 500px;
}

#about h2 {
  font-family: Cinzel;
  font-size: 40px;
  color: white;
}

#about p {
  font-family: arial;
  font-size: 20px;
  color: white;
}
/* End of About */

/* Form */
#message {
    margin-top: 180px;
    margin-left: 100px;
}

#message fieldset input{
  background-color: #444;
  padding: 10px;
  margin-bottom: 5px;
  width: 300px;
  color: white;
}

#secret_message {
  margin-left: 100px;
}

#secret_message fieldset input {
  background-color: #444;
  padding: 10px;
  width: 500px;
  height: 300px;
  color: white;
}

#btns {
  margin-top: 5px;
  margin-left: 330px;
}

#btns button {
  margin-left: 5px;
  padding: 10px;
}

#clearbtn {
  padding: 10px;
  background-color: black;
  border-color: #444;
  border-style: solid;
  color: white;
}
/* End Form */
/* Difficulty Selector */
#difficulty {
  position: absolute;
  margin-top: 10px;
  margin-left: 150px;
}
/* End of Difficulty */
/* Translated Message */
#decrypt {
  margin-left: 700px;
  margin-top: -300px;
}

#decrypt p {
  color: #a6a6a6;
  font-family: arial;
  font-size: 15px;
  width: 550px;
  height: 260px;
}

#decrypt img {
  margin-left: 520px;
  width: 40px;
}
/* End of Translated Message */
/* Navigation */
#social_links ul li a img {
  margin-top: 30px;
  transition: 350ms;
  float: right;
  display: inline-block;
  width: 30px;
  margin-left: 10px;
}

#social_links ul li a img:hover {
  width: 40px;
}

h2 {
  margin-top: 50px;
  text-align:center;
  color:white;
}

footer {
  height: 100px;
}

footer section {
    margin-top: 100px;
}

footer p {
  text-align:center;
  color: white;
  margin-bottom: 10px;
}
